.coupon{
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 30px 0;
    .form-group{
      flex: 1;
      margin-right: 10px;
      padding-top: 0;
        @media (max-width: 480px) {
          width: 100%;
          flex: none;
          margin-bottom: 10px;
        }
    }
    .btn{
      max-width: 150px;
      width: 100%;
      padding: 17px 20px;
        @media (max-width: 414px) {
          max-width: 100%;
        }
    }
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
}