.section {
    &-start {
        //padding: 150px 0;
        height: 100vh;
        min-height: 800px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        //padding-top: 265px;
            &-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -2;

            img {
                display: block;
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0,0,0,.5);
                z-index: 0;
                pointer-events: none;
            }
        }
            &-content{
                display: flex;
                align-items: flex-start;
                    @media(max-width: 767px){
                        flex-direction: column;
                    }
            }
            @media(max-width: 767px){
                justify-content: flex-start;
                padding: 235px 0 10px;
                min-height: 0;
                height: auto;
            }
    }

    &-second {
        padding: 100px 0 400px;

        @media (max-width: 1400px) {
            padding: 120px 0 356px;
        }

        @media (max-width: 1024px) {
            padding: 100px 0 250px;
        }
        @media (max-width: 823px) {
            padding: 50px 0 250px;
        }

        @media (max-width: 640px) {
            padding: 50px 0 150px;
        }
    }

    &-third {
        background-color: $color-black-200;
        padding: 10px 0 106px;
        position: relative;
        margin-top: 29px;

        @media (max-width: 765px) {
            padding: 10px 0 80px;
        }
    }

    &-firth {
        padding: 100px 0;
        z-index: 5;
        position: relative;
        background-color: $color-white;

        @media (max-width: 1300px) {
            padding: 120px 0;
        }

        @media (max-width: 823px) {
            padding: 100px 0 50px;
        }

        @media (max-width: 823px) {
            padding: 50px 0 20px;
        }
    }

    &-six {
        padding-bottom: 107px;

        @media (max-width: 823px) {
            padding-bottom: 50px;
        }
    }
    &-timer{
        position: relative;
        z-index: 1;
        //margin-top: -93px;
        margin-bottom: 44px;
        .timer{
            &-body{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 36px auto;
                max-width: 440px;
                    @media (max-width: 576px) {
                        max-width: 290px;
                        padding: 0 20px;
                        margin: 16px auto;
                    }
            }
            &-wrapper{
                margin: 0 auto;
                color: $color-orange;
                width: 100%;
                display: flex;
                justify-content: center;
                transform: translateY(-93px);
                    &-inner{
                        text-align: center;
                        max-width: 768px;
                        width: 100%;
                        background-color: $color-white;
                        box-shadow: 0 4px 29px rgba(154, 154, 160, 0.21);
                        min-height: 256px;
                        padding: 56px 20px 35px;
                            @media(max-width: 576px){
                                padding: 28px 20px 15px;
                                min-height: 0;
                            }
                    }
                    @media(max-width: 991px){
                        width: 90%;
                    }
                    @media (max-width: 767px) {
                        transform: translateY(0);
                    }
            }
            &-time{
                color: inherit;
            }
            &-days{
                color: $color-orange;
            }
        }
        @media(max-width: 767px){
            padding-top: 25px;
        }
    }
}
.section {
    &-heading {
        text-align: center;

        p {
            color: $color-grey-200;
            line-height: 1.6;
            font-size: 14px;
            font-family: $font-roboto;
            margin: -10px 0 0;
        }

        &-sub {
            max-width: 470px;
            padding: 0px 0 50px 46px;

            @media (max-width:1200px){
                padding: 0px 0 50px 20px;
            }

            @media (max-width:640px){
                padding: 0 0 20px;
            }
        }
    }
}

.price-label {
    position: absolute;
    top: -72px;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: $color-orange;
    @include flex-center;

    @media (max-width: 640px) {
        top: -50px;
        right: 35px;
        height: 70px;
        width: 70px;
    }

    @media (max-width: 375px) {
        top: -40px;
        right: 30px;
    }

    &-content {
        text-transform: uppercase;
        font-size: 16px;
        color: $color-white;
        line-height: 0.86;
        transform: rotate(11.6deg);
        text-align: right;

        @media (max-width: 640px) {
            font-size: 14px;
        }

        b {
            font-size: 36px;

            @media (max-width: 640px) {
                font-size: 25px;
            }
        }
    }
}

.timer {
    &-wrapper {
        @include flex-end;

        &-inner {
            position: relative;
            padding-right: 10px;
            min-width: 290px;

            @media (max-width: 340px) {
                min-width: 100%;
            }
        }
    }

    &-title {
        font-size: 16px;
        line-height: 1.4;
        color: $color-white;
    }

    &-body {
        display: flex;
        align-items: center;

        &-inner {
            padding-left: 22px;
        }
    }

    &-days {
        font-size: 71px;
        line-height: 1.2;
        letter-spacing: -0.1em;
        color: $color-white;

        @media (max-width: 640px) {
            font-size: 60px;
        }

        &-label {
            font-size: 32px;
            line-height: 86.7%;
            color: $color-orange;
        }
    }

    &-time {
        font-size: 36px;
        line-height: 0.8;
        letter-spacing: 0.05em;
        color: $color-white;
        margin-top: 10px;
        display: flex;

        @media (max-width: 640px) {
            font-size: 30px;
        }

        span {
            display: block;
        }
    }
}

.main-content {
    max-width: 950px;
    padding-top: 48px;

    @media (max-width: 1280px) {
        max-width: 820px;
        padding-top: 20px;
    }

    @media (max-width: 1024px) {
        max-width: 680px;
        padding-top: 20px;
    }

    @media (max-width: 823px) {
        max-width: 100%;
    }

    p {
        font-size: 16px;
        font-family: $font-arkibal-heavy;
        color: #fff;
        margin: -23px 0 0;

        @media (max-width: 1280px) {
            margin: 0;
        }
        @media (max-width: 1024px) {
            margin: 10px 0;
        }
    }
}

.btn-wrapper {
    padding-top: 67px;

    @media (max-width: 1024px) {
        padding-top: 30px;
    }

    P {
        font-size: 16px;
        color: $color-white;
    }
}

.card {
    &-wrapper {
        padding-top: 98px;

        @media (max-width: 823px) {
            padding-top: 50px;
        }
    }

    &-item {
        padding-bottom: 30px;

        &-title {
            color: $color-orange;
            font-size: 36px;
            padding: 24px 0 14px;
        }

        &-content {
            color: $color-black-100;
            font-size: 14px;
            font-family: $font-roboto;
            line-height: 1.8;
        }

        &-img {
            height: 258px;
            width: 100%;

            img {
                @include image-positioning;
            }
        }
    }
}

.offset-top-img {
    height: 652px;
    width: 100%;
    margin-top: -282px;
    position: relative;

    @media (max-width: 1024px) {
        height: 400px;
        margin-top: -200px;
    }

    @media (max-width: 640px) {
        height: 300px;
        margin-top: -160px;
    }

    img {
        @include image-positioning;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.11);
    }
}

.program {
    &-block {
        padding: 40px 0;
        background-color: $color-black-200;
        margin-top: -82px;
        z-index: 5;
        position: relative;

        @media (max-width: 1024px) {
            padding: 40px 15px;
        }

        h2 {
            line-height: 0.95;
        }
    }

    &-wrapper {
        padding: 70px 0 35px;

        @media (max-width: 823px) {
            padding: 50px 0;
        }

        @media (max-width: 765px) {
            padding: 30px 0 50px;
        }
    }

    &-item {
        text-align: center;

        @media (max-width: 765px) {
            padding-top: 40px;
        }

        &-icon {
            height: 48px;
            width: 48px;
            margin: 0 auto;

            img {
                @include image-positioning;
            }
        }

        &-text {
            font-family: $font-roboto;
            font-size: 18px;
            line-height: 1.6;
            color: $color-white;
            padding-top: 43px;

            @media (max-width: 765px) {
                padding-top: 20px;
            }

            span {
                color: $color-orange;
            }
        }
    }
}

.ampersand {
    text-align: center;
    padding: 20px 0;
}

.data {
    &-item {
        overflow-x: visible;
        &-image {
            height: 545px;
            width: 900px;
            position: absolute;
            bottom: 50px;
            right: 0;
            z-index: 5;
            @media (max-width: 1280px) {
                height: 545px;
                width: 650px;
            }

            @media (max-width: 991px) {
                height: 380px;
                width: 423px;
                right: 15px;
            }

            @media (max-width: 765px) {
                position: relative;
                bottom: auto;
                right: auto;
                margin: 30px auto 0;
                height: auto;
                width: 50%;
            }
            @media (max-width: 500px) {
                width: 80%;
            }

            img {
                display: block;
                height: 100%;
                object-fit: cover;

                @media (max-width: 765px) {
                    width: 100%;
                }
            }
        }
    }

    &-list {
        padding: 20px 0;

        &-item {
            display: flex;
            padding-top: 25px;
        }

        &-image {
            height: 32px;
            width: 32px;

            img {
                @include image-positioning;
            }
        }

        &-text {
            padding-left: 18px;

            p {
                margin: 0;
                font-family: $font-roboto;
                font-size: 18px;
                color: $color-white;
                line-height: 1.8;
            }
        }
    }
    &-wrapper{
        overflow-x: visible;
    }
}

.image-top{
    position: absolute;
    top: 135px;
    left: 0;
    display: block;
    height: 100%;
    object-fit: cover;
    z-index: 1;
        @media (max-width: 765px) {
            width: 100%;
            top: 80px;
        }
}

.box-item {

    &-image {
        position: relative;
        height: 656px;
        width: 525px;

        @media (max-width: 1300px) {
            height: 600px;
            width: 450px;
        }
        @media (max-width: 1100px) {
            width: 350px;
            height: 500px;
        }

        @media (max-width: 991px) {
            width: 100%;
            height: 480px;
        }

        @media (max-width: 765px) {
            width: 315px;
            height: auto;
            margin: 0 auto;
        }

        @media (max-width: 380px) {
            width: 100%;
            height: auto;
        }

        img {
            @include image-positioning;

            @media (max-width: 765px) {
                height: 310px;
                object-position: top;
            }
        }
    }

    .data-inner {
        max-width: 410px;

        @media (max-width:765px){
            max-width: 100%;
        }

        p {
            font-size: 14px;
            font-family: $font-roboto;
            line-height: 1.89;
            margin: 15px 0 28px;
        }
    }

    .offset-bottom-image {
        position: absolute;
        bottom: -127px;
        right: -131px;
        width: 304px;
        height: 381px;

        @media (max-width: 1100px) {
            bottom: -170px;
            right: -132px;
            width: 270px;
            height: 340px;
        }

        @media (max-width: 991px) {
            display: none;
        }

        @media (max-width: 764px) {
            display: block;
            margin: 0 auto;
            width: 100%;
            padding-top: 30px;
            position: static;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            //height: -webkit-fill-available;
        }
    }
}

.social-box {

    &-item {
        margin-right: 14px;
        text-decoration: none;
        color: $color-white!important;
        transition: 0.3s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $color-orange!important;
        }
    }
}

.sub {
    &-row {
        align-items: flex-end;

        .col-sub-4 {
            width: 30%;
        }
        .col-sub-8 {
            width: 70%;

            @media (max-width: 991px) {
                width: 100%;
            }
        }

        .col-sub-1 {
            width: 36%;
            @media(max-width: 767px){
                width: 100%;
            }
        }
        .col-sub-2 {
            width: 29%;
            @media(max-width: 767px){
                width: 50%;
            }
        }
        .col-sub-3 {
            width: 35%;
            @media(max-width: 767px){
                width: 50%;
            }
        }
        @media(max-width:640px){
            .col-sub-1,
            .col-sub-2,
            .col-sub-3 {
                width: 100%;
            }
        }
        
    }
    &-timer-wrapper {
        justify-content: flex-start;
        padding: 9px 0 0 170px;

        @media (max-width:1200px){
            padding: 9px 0 0 40px;
        }

        @media (max-width:991px){
            padding: 50px 0 0 40px;
        }

        @media (max-width:640px){
            padding: 20px 0 0 40px;
        }

        .timer-title,
        .timer-time {
            color: $color-grey-200;
        }

        .timer-days {
            color: $color-orange;
        }
    }
    &-wrapper {
        background-color: $color-black-100;
        margin-top: 35px;
        &-inner {
            padding: 50px 55px 54px 0;

            @media (max-width:1200px){
                padding: 0 30px 30px 0;
            }

            @media (max-width:991px){
                padding: 30px;
            }
        }
        &-item {
            &.item-data {
                color: #fff;
                font-size: 16px;
                line-height: 1.4;
                padding: 0 0 0 45px;

                @media (max-width:1200px){
                    padding: 0 0 0 20px;
                }

                @media (max-width: 767px){
                    padding: 0 0 40px;
                }
            }
            &.item-checkbox {

                @media (max-width:640px){
                    padding: 0 0 20px;
                }
            }
            .form-group{
                padding-top: 0;
                position: relative;
                    input{
                        color: $color-white;
                    }
                    .text-help{
                        color: $color-white;
                        bottom: 4px;
                        left: 0;
                    }
            }
        }
        .btn-lg{
            max-width: 100%;
        }
        .form-message{
            color: $color-white;
            &.success,
            &.error{
                color: $color-white;
            }
        }
    }

    &-item-image {
        height: 483px;
        width: 388px;
        margin-top: -82px;

        @media (max-width:1200px){
            height: 410px;
            width: 100%;
            margin-top: -30px;
        }

        @media (max-width:991px){
            display: none;
        }

        img {
            @include image-positioning;
        }
    }
}

.checkbox-group {
    display: block;
    margin-bottom: 15px;
        @media (min-width: 992px){
            margin-bottom: 25px;
        }
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 11px;
        font-family: $font-roboto;
        font-weight: 500;
        color: $color-white;

        &:before {
            content: "";
            background-color: transparent;
            border: 1px solid $color-white;
            height: 16px;
            width: 16px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 10px;
        }
    }
}

.checkbox-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: $color-white;
}

.item-subscription {
    width: 100%;

    input {
        width: 100%;
        //max-width: 270px;
        padding: 15px 24px;
        border: 1px solid $color-white;
        border-radius: 10px;
        outline: none;
        background-color: transparent;
        margin: 0 0 18px 0;
        color: $color-orange;

        &::placeholder {
            color: $color-white;
            font-size: 14px;
            font-family: $font-roboto;
        }
    }
}
.colon:before {
    content: ":";
}

#paypal-payment-button{
    max-width: 300px;
    margin-top: 30px;
        .btn{
            max-width: 100%;
        }
        @media (max-width: 480px) {
            max-width: 100%;
        }
}

[disabled]{
    pointer-events: none;
    opacity: .5;
}

.start{
    &-content{
        flex: 1;
        padding-right: 140px;
            @media (max-width: 1200px) {
                padding-right: 80px;
            }
            @media (max-width: 991px) {
                padding-right: 30px;
            }
            @media(max-width: 767px){
                padding-right: 0;
            }
    }
    &-attention{
        flex: 1;
        max-width: 296px;
        background-color: $color-orange;
        min-height: 360px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-white;
        padding: 60px 15px 43px;
            .btn{
                max-width: 152px;
                width: 100%;
            }
            @media (max-width: 991px) {
                max-width: 260px;
            }
            @media(max-width: 767px){
                background-color: transparent;
                align-items: flex-start;
                text-align: left;
                max-width: 100%;
                width: 100%;
                padding: 64px 0 20px;
                min-height: 0;
            }
    }
    &-subtitle{
        font-family: $font-arkibal-heavy;
        color: $color-white;
        font-size: 16px;
        margin: 0 0 25px;
            span{
                color: $color-orange;
            }
            @media (max-width: 480px){
                font-size: 12px;
                margin: 0 0 7px;
            }
    }
    &-title{
        margin-bottom: 41px;
            span{
                display: block;
                position: relative;
                padding-left: 45px;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 21px;
                        left: 0;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: currentColor;
                        pointer-events: none;
                            @media(max-width: 1200px){
                                top: 15px;
                            }
                            @media(max-width: 991px){
                                top: 12px;
                            }
                            @media(max-width: 576px){
                                top: 8px;
                                width: 6px;
                                height: 6px;
                            }
                            @media(max-width: 480px){
                                top: 6px;
                                width: 3px;
                                height: 3px;
                            }
                    }
                    @media(max-width: 767px){
                        padding-left: 35px;
                    }
                    @media(max-width: 576px){
                        padding-left: 25px;
                    }
                    @media(max-width: 480px){
                        padding-left: 15px;
                    }
            }
            @media(max-width: 480px){
                margin-bottom: 28px;
            }
    }
    &-bonus{
        max-width: 385px;
        display: flex;
        align-items: center;
        font-size: 20px;
        color: $color-white;
            &-label{
                border-radius: 50%;
                width: 65px;
                min-width: 65px;
                height: 65px;
                background-color: $color-orange;
                font-size: 11px;
                color: $color-white;
                text-transform: uppercase;
                font-style: italic;
                margin-right: 25px;
                text-align: center;
                line-height: 65px;
                    i{
                        display: inline-block;
                        transform-origin: center;
                        transform: rotate(12deg);
                    }
                    @media(max-width: 480px){
                        width: 50px;
                        height: 50px;
                        min-width: 50px;
                        font-size: 8px;
                        line-height: 50px;
                    }
            }
            @media(max-width: 576px){
                max-width: 350px;
                font-size: 18px;
            }
            @media(max-width: 480px){
                font-size: 12px;
                max-width: 250px;
            }
    }
}

.attention{
    &-subtitle{
        margin: 0 auto 56px;
        font-size: 16px;
        max-width: 210px;
            @media(max-width: 767px){
                margin: 0 0 56px;
            }
            @media(max-width: 480px){
                font-size: 12px;
                margin: 0 0 12px;
            }
    }
    &-title{
        font-size: 40px;
        margin: 0 auto 65px;
        position: relative;
            span{
                @media (min-width: 768px) {
                    display: block;
                    font-size: 16px;
                }
            }
            @media (max-width: 991px) {
                font-size: 36px;
            }
            @media (max-width: 767px) {
                position: relative;
                margin: 0 0 65px;
                    &:before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 50%;
                        background-color: $color-orange;
                        z-index: -1;
                    }
            }
            @media (max-width: 480px) {
                font-size: 20px;
            }
    }
    &-label{
        font-size: 16px;
        margin: 0;
    }
    &-action{
        width: 100%;
            .btn-white{
                @media (max-width: 767px) {
                    background-color: $color-orange;
                    border-color: $color-orange;
                    color: $color-white;
                }
                @media (max-width: 480px) {
                    max-width: 100%;
                }
            }
    }
}